
{% extends 'base.html' %}

{% block head %}
<title>All Member - Sirajam Munira Friends Group</title>
{% endblock %}

{% block body %}



    <div class="max-w-7xl  space-y-2">
    
            <h2 class="text-2xl font-semibold text-gray-900">সকল মেম্বার</h2>
           {% for user in users %}
            <div class="m-auto flex items-center justify-between-full p-2 rounded shadow-sm bg-white">
               <div class="flex items-center justify-around gap-2">
  <img class="h-12 w-12 ring ring-gray-300 rounded-full" src="{{ user.dp.url }}"/>

 <div class="flex flex-col text-gray-500">
<p class="font-bold">{{ user.name }}</p>
<p>{{ user.mobile }} </p> 
</div>              
 </div>
            </div>
   {% endfor %}
    </div>



{% endblock %}
