{% extends 'base.html' %}



{% block body %}


<div class="m-9 bg-white p-8 rounded-lg shadow-md">


    {% if msg %}
    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
        <span class="font-medium">সফল</span> {{msg}}
      </div>

    {% endif %}



    <h1 class="text-2xl font-bold mb-6 text-gray-700 text-center">নতুন কাস্টমার যোগ করুন</h1>
    <form action="/create-customer" method="post" enctype="multipart/form-data">

        {% csrf_token %}
<div class="grid grid-cols-2 gap-2">
        <div class="mb-4">
            <label for="name" class="block text-gray-700 font-medium">নাম</label>
            <input type="text" id="name" name="name" class="mt-1 p-2 w-full border rounded-md" required>
        </div>
        <div class="mb-4">
            <label for="address" class="block text-gray-700 font-medium">ঠিকানা</label>
            <input type="text" id="address" name="address" class="mt-1 p-2 w-full border rounded-md" required>
        </div>
    </div>

        <div class="mb-4">
            <label for="loans" class="block text-gray-700 font-medium">লোনের ধরন</label>
            <select id="loans" name="loans" class="mt-1 p-2 w-full border rounded-md" required>
                <!-- Add your loan options here -->
                <option selected disabled>একটি লোন সিলেক্ট করুন</option>

                {% for l in loans %}
                <option value="{{l.id}}">{{l.name}}</option>

                {% endfor %}



            </select>
        </div>
        <div class="mb-4">
            <label for="total_loan_amount" class="block text-gray-700 font-medium">লোনের পরিমান</label>
            <input type="number" id="total_loan_amount" name="total_loan_amount" class="mt-1 p-2 w-full border rounded-md" required>
        </div>
 

        <div class="mb-4">
            <label for="dp" class="block text-gray-700 font-medium">প্রফাইল পিকচার</label>
            <input type="file" id="dp" name="dp" class="mt-1 p-2 w-full border rounded-md">
        </div>
        <div class="mb-4">
            <label for="notes" class="block text-gray-700 font-medium">নোটস</label>
            <textarea id="notes" name="notes" class="mt-1 p-2 w-full border rounded-md"></textarea>
        </div>
 
        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">যোগ করুন</button>
    </form>
</div>





{% endblock %}