{% extends 'base.html' %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

{% endblock %}


{% block body %}

<section class="md:m-9">
<h3 class="mute my-3 text-xl font-bold text-gray-500">এখন পর্যন্ত</h3>

    
<div class="gap-2 grid grid-cols-2 md:grid-cols-3">
  <div class="p-2 rounded-md shadow-sm bg-gray-100 flex flex-col items-center justify-center ">
    
    <img class="rounded w-[90px]"
src="https://api.dicebear.com/9.x/icons/svg?seed=Felix"
alt="avatar" />

<h2 class="my-2 font-bold text-gray-700 text-2xl">
 {{totalcustomer}}
</h2>

<p class="mute text-sm text-gray-400">
 জন কাস্টমার
</p>
    

    
    
    
  </div>
  
  
  
  
       <div class="p-2 rounded-md shadow-sm bg-gray-100 flex flex-col items-center justify-center ">
    
    <img class="rounded w-[90px]"
src="https://api.dicebear.com/9.x/icons/svg?seed=money"
alt="avatar" />

<h2 class="my-2 font-bold text-gray-700 text-2xl">
 ৳{{totalloan}}
</h2>

<p class="mute text-center text-gray-400">
 টাকা মোট লোন
</p>
    

    
    
    
  </div>
  
  
  
  
            <div class="p-2 rounded-md shadow-sm bg-gray-100 flex flex-col items-center justify-center ">
    
    <img class="rounded w-[90px]"
src="https://api.dicebear.com/9.x/icons/svg?seed=come"
alt="avatar" />

<h2 class="my-2 font-bold text-gray-700 text-2xl">
 ৳{{totaltaked}}
</h2>

<p class="mute text-center text-gray-400">
 টাকা তোলা হয়েছে
</p>
  </div>
  
  
</div>
 <!-- grid end here -->
 
 <h3 class="mute my-5 text-xl text-gray-500 font-bold">আজকের ডাটা</h3>
 <!-- another grid start -->
 
 <div class="gap-2 grid grid-cols-1 md:grid-cols-2 my-2">
   
   <div class="bg-red-700 flex items-center justify-around p-4 rounded shadow-sm">
    <i class="text-red-300 text-4xl bi bi-bank2"></i> 
    
    
    <div>
      <p class="mute text-xs text-white">
        আজকে লোন দেওয়া হয়েছে
      </p>
      
      <h2 class="text-white text-sm font-bold">৳{{todayloangive}}</h2>
    </div>
    
    
    
   </div>
   
   
   
   
         <div class="bg-green-700 flex items-center justify-around p-4 rounded shadow-sm">
           <i class="text-green-300 text-4xl bi bi-cash-stack"></i>
   
   
           <div>
             <p class="mute text-xs text-white">
               আজকে টাকা তোলা হয়েছে
             </p>
   
             <h2 class="text-white text-sm font-bold">৳{{todayloantake}}</h2>
           </div>
   
   
   
         </div>
   
   
   
   
   
   
   
 </div>


<h3 class="mute my-5 font-bold text-xl text-gray-500">অন্যান্য ডাটা</h3>

   <div class="bg-white shadow rounded p-6 my-5">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">ল্রত্যেক মাসে দেওয়া লোন</h2>
        <canvas id="myChart"></canvas>
    </div>

    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                   label:'2024',
                    data: [
                            {% for m in monthly %}
                             {{m}},
                             {% endfor %}
                          ],
                    backgroundColor: [
                        'rgba(245, 40, 145, 1)',
                    ],
                    borderColor: [
                        'rgba(245, 40, 145, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>



</section>

{% endblock %}
